
<div class="container mx-auto">
  <h2 class="text-center">Where are you nodding your head?</h2>

  <img class="loading"  *ngIf="(viewModel$ | async)?.isLoading" src="assets/loading.gif" />
  <div class="content" *ngIf="(viewModel$ | async)?.isStarted">
    <div class="cam-view">
      <div #video id="webcam-container"></div>
    </div>
    <div class="nod" *ngIf="!(viewModel$ | async)?.isLoading">
      <div class="nod-left">
        <i class="fa-solid fa-arrow-left nod-icon" [ngClass]="{'active': (viewModel$ | async)?.isLeft}"></i>
      </div>
      <div class="nod-right">
        <i class="fa-solid fa-arrow-right nod-icon" [ngClass]="{'active': !(viewModel$ | async)?.isLeft}"></i>
      </div>
    </div>
  </div>


  <div *ngIf="(viewModel$ | async)?.isStarted; else stopTemp">
    <a class="btn btn-start" (click)="onStop()" >Stop</a>
  </div>
  <ng-template #stopTemp>
    <a class="btn btn-start" (click)="onStart()">Start</a>
  </ng-template>
</div>


